body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    padding: 20px;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #3D3D3D;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: white;
}

input, textarea {
    width: 100%;
    padding: 05px;
    font-size: 1rem;
    border: 1px solid #545454;
    border-radius: 5px;
    resize: none;
}

button {
    width: 101%;
    padding: 10px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#bbcodeOutput {
    margin-top: 20px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.back-button {
    position: absolute;
    top: 10px; /* Adjust for the distance from the top */
    left: 10px; /* Adjust for the distance from the left */
    width: 50px; /* Adjust the size of the image */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

/* Container for the Add and Remove buttons */
.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Add space between buttons */
    margin-top: 10px;
}

/* Half-width buttons */
.half-width {
    width: 48%; /* This will make the buttons half the width of their container */
    padding: 10px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.half-width:hover {
    background-color: #45a049;
}

#bbcodeText {
    width: 100%;
    min-height: 150px; /* Set a minimum height */
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none; /* Disable resizing manually */
    overflow: hidden; /* Hide overflow */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    word-wrap: break-word; /* Ensure long lines break and wrap inside the box */
}
